__pycache__
*.pyc
.ipynb_checkpoints
.eggs
*.egg-info
*~
*coffea
binder/data/
metadata.json

binder/plots/*
binder/DY*

run_local.py
data1.root
data2.root

outfiles/
lpc/
hists/
1dhists/
2dplots/
plots2/
plots3/
results/
DY.root

prp/
datafiles/

binder/DY/
binder/GluGluHToWWToLNuQQ/

binder/outfiles0
binder/outfiles01
binder/outfiles02

histo
