__pycache__
*.pyc
.ipynb_checkpoints
.eggs
*.egg-info
*~
*coffea
binder/data/
metadata.json

binder/lol.pdf
binder/plots/*


run_local.py
data1.root
data2.root

outfiles/
lpc/
hists/
1dhists/
2dplots/
plots2/
plots3/
results/
DY.root
