__pycache__
*.pyc
.ipynb_checkpoints
.eggs
*.egg-info
*~
*coffea
binder/data/
metadata.json

binder/plots/*
binder/DY*

*.root

run_local.py

outfiles/
lpc/
hists/
1dhists/
2dplots/
plots2/
plots3/
results/

prp/
datafiles/

binder/DY/
binder/GluGluHToWWToLNuQQ/

binder/outfiles*
binder/EGamma*

*.parquet
*.pkl
*.pdf

histo


*/num_dict.pkl
condor/

roc_curves/
extra/
binder_tagger_resources/
melissa_dataconfig_semilep_ttbarwjets.yaml


*.pdf
*.png
*.csv